body {
  background-color: rgb(181, 184, 184);
}

.budget-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
  height: 100vh;
  justify-content: space-evenly;
}

.monthly-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.budget-cards {
  border: 4px solid rgb(3, 114, 45);
  height: 35vh;
  width: 25vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 3%;
  align-items: center;
  margin-top: 3vh;
  background-color: rgb(20, 168, 107);
}
