.allStocks-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.stock-search-container {
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 20vh;
  justify-content: space-evenly;
  align-items: center;
}

.stock-search-container input {
  padding: 0;
  border: 1px solid #3648e6;
  line-height: 70px;
  text-indent: 2px;
  outline: none;
  text-align: center;
  font-size: 65px;
  color: black;
  border-radius: 35px;
  opacity: 0.6;
}
